/* * * * * * * * * * * * * * * * *
*                                 *
*     ECRCHS Student Scores CSS   *
*     @author Blake Nahin         *
*                                 *
* * * * * * * * * * * * * * * * */

/** Navbar **/
.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.pull-left .img-circle {
  width: 160px !important;
}

.navbar-nav > .user-menu > .dropdown-menu > li.user-header > img {
  height: 105px;
}

/** Sync Page **/
#sync-container {
  background-color: white;
  display: block;
  width: 50%;
  margin: 0 auto;
  text-align: center;
  padding: 8px;
  height: 30%;
  vertical-align: middle;
  -webkit-box-shadow: inset 0 0 9px 3px rgba(112, 112, 112, 0.63);
  -moz-box-shadow: inset 0 0 9px 3px rgba(112, 112, 112, 0.63);
  box-shadow: inset 0 0 9px 3px rgba(112, 112, 112, 0.63);

  #sync-icon {
    font-size: 2.7em;
  }
}

/** View Page **/

#compare-container {
  div.col-lg-6:first-child {
    border-right: 2px solid #ccc;
  }

  .filter-box {
    margin-top: 5px;
    background-color: #f8f8f8;

    h4 {
      margin-top: 0;
    }

    label {
      font-weight: initial;
    }
  }
}

.compare-table {
  display: none;
  margin-top: 5px;
}

.table-responsive {
  margin-top: 5px;
}

.tab-loading {
  text-align: center;
}