/* * * * * * * * * * * * * * * * *
*                                 *
*     ECRCHS Student Scores CSS   *
*     @author Blake Nahin         *
*                                 *
* * * * * * * * * * * * * * * * */

/** Navbar **/
.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.pull-left .img-circle {
  width: 160px !important;
}

.navbar-nav > .user-menu > .dropdown-menu > li.user-header > img {
  height: 105px;
}

/** Sidebar **/
.treeview-menu > li > a.active {
  color: white !important;
}

/** Sync Page **/
#sync-container {
  background-color: white;
  display: block;
  width: 50%;
  margin: 0 auto;
  text-align: center;
  padding: 8px;
  height: 30%;
  vertical-align: middle;
  -webkit-box-shadow: inset 0 0 9px 3px rgba(112, 112, 112, 0.63);
  -moz-box-shadow: inset 0 0 9px 3px rgba(112, 112, 112, 0.63);
  box-shadow: inset 0 0 9px 3px rgba(112, 112, 112, 0.63);

  #sync-icon {
    font-size: 2.7em;
  }
}

/** View Page **/
#compare-container {
  div.col-lg-6:first-child {
    border-right: 2px solid #ccc;
  }

  .column-box-container p {
    text-align: center;
  }
}

.filter-box, .legend-box {
  margin-top: 5px;
  background-color: #f8f8f8;

  h4 {
    margin-top: 0;
  }

  label {
    font-weight: initial;
  }
}

.legend-box {
  width: 500px;
}

.legend-box-container {
  .accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings'; /* essential for enabling glyphicon */
    content: "\e114"; /* adjust as needed, taken from bootstrap.css */
    color: grey; /* adjust as needed */
    position: absolute;
    top: 0;
    right: 0;
    padding: 12px 18px 12px 12px;
  }

  .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\e080"; /* adjust as needed, taken from bootstrap.css */
  }

  .box-body {
    padding-top: 0;
  }

  h4 {
    margin-bottom: 0;
  }
}

.compare-table {
  display: none;
  margin-top: 5px;
}

.table-responsive {
  margin-top: 5px;
}

.tab-loading {
  text-align: center;
}

/** Misc **/
.th-normal {
  font-weight: normal;
}

.fixedHeader-floating {
  margin-top: 0 !important;
  border-top: 3px solid #ccc;
}

/** Admin Page **/
.login-box {
  margin: 3% auto;
}

.info-box {
  height: 90px !important;
}